<!--ion-header>
  <ion-navbar> 
    <ion-title>Home</ion-title> 
  </ion-navbar>
</ion-header> 
<ion-content  style="background:#000 !important;"> 

<ion-toggle [(ngModel)]="toggler"></ion-toggle>
<ion-grid > 
<ion-row no-padding class="bot_bdr"> 
  <ion-col width-50 no-padding class="btn_ml">
    <div class="switch"><round-progress class="roundC" [current]="20" 
      [max]="100" [rounded]="true" [responsive]="true" [on]="toggler" >
        </round-progress></div>
  </ion-col>  
  <ion-col no-padding class="content_txt" >
    <ion-row no-padding>
      <ion-col width-75 no-padding class="room">    Bed Room Fan      </ion-col>
      <ion-col no-padding>           </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/hrs.png"> Run. Hrs
      </ion-col>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/kwh.png"> Est. Kwh
      </ion-col>    
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrscount">   04.30     </ion-col> 
      <ion-col width-50 no-padding class="kwhcount">    9830       </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="remote">  
        <img src="assets/img/setting.png"> Remote
      </ion-col>
      <ion-col width-50 no-padding class="setting">  
        <img src="assets/img/setting.png"> Settings
      </ion-col>    
    </ion-row>    
  </ion-col>  
</ion-row> 

<ion-row no-padding class="bot_bdr"> 
  <ion-col width-50 no-padding class="btn_ml" >
<img src="assets/img/test_back.png" class="btn_img11">
  </ion-col>  
  <ion-col no-padding class="content_txt" >
    <ion-row no-padding>
      <ion-col width-75 no-padding class="room">    Bed Room Fan      </ion-col>
      <ion-col no-padding>           </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/hrs.png"> Run. Hrs
      </ion-col>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/kwh.png"> Est. Kwh
      </ion-col>    
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrscount">   04.30     </ion-col> 
      <ion-col width-50 no-padding class="kwhcount">    9830       </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="remote">  
        <img src="assets/img/setting.png"> Remote
      </ion-col>
      <ion-col width-50 no-padding class="setting">  
        <img src="assets/img/setting.png"> Settings
      </ion-col>    
    </ion-row>    
  </ion-col>
</ion-row>
</ion-grid>
   
 
</ion-content-->


<ion-header> 
  <ion-navbar>      
    <ion-title>Home</ion-title> 
  </ion-navbar>  
</ion-header> 
<ion-content  style="background:#000 !important;"> 
	<ion-list no-padding no-margin>
	<ion-item no-padding no-margin>
			<ion-grid >         
				<ion-row no-padding class="bot_bdr"> 
					<ion-col width-50 no-padding class="btn_ml">
						<div class="switch" [ngClass]="{active: isActive}" (mousedown)="isActive = !isActive" (click)="toggler()">
							<!-- <round-progress class="roundC" [current]="40" [max]="100" [stroke]="20" [rounded]="true" [on]="isActive" [responsive]="true" [animationDelay]="700">   
							</round-progress> --> 
							<div class="btn_icon"> 	</div>	
						</div>     
					</ion-col>    
					<ion-col no-padding class="content_txt" >
						<ion-row no-padding>
							<ion-col width-75 no-padding class="room"> Bed Room Fan </ion-col>
							<ion-col no-padding>  </ion-col>
						</ion-row>
						<ion-row no-padding>
							<ion-col width-50 no-padding class="hrs">  
								<!-- <img src="assets/img/hrs.png"> --> Run. Hrs
							</ion-col>
							<ion-col width-50 no-padding class="kwh">  
								<!-- <img src="assets/img/kwh.png"> --> Est. Kwh
							</ion-col>    
						</ion-row>
						<ion-row no-padding>
							<ion-col width-50 no-padding class="hrscount">   04.30     </ion-col> 
							<ion-col width-50 no-padding class="kwhcount">    9830       </ion-col>
						</ion-row>
						<ion-row no-padding>
							<ion-col width-50 no-padding >  
								<!-- <img src="assets/img/setting.png"> Remote -->
							</ion-col>
							<ion-col width-50 no-padding class="settings">  
								<img src="assets/img/tv-remote.png" class="remote"> &nbsp; 
								<img src="assets/img/tv-remote.png" class="setting"> 
							</ion-col>    
						</ion-row>    
					</ion-col>  
				</ion-row>
			</ion-grid>
		</ion-item>
        
        
        
        
	</ion-list>

</ion-content>    
 