<ion-header>
  <ion-navbar>
    <ion-title>    
      Contact      </ion-title>  
  </ion-navbar>
</ion-header>
 
<ion-content no-padding>
    
    <!-- <input class="button" type="button" value="Go"> -->
  <ion-grid>
    <ion-row no-padding>
      <ion-col width-33 no-padding>
        <button ion-button ></button>
      </ion-col>
      <ion-col width-33 no-padding>
        <button ion-button ></button>
      </ion-col>
      <ion-col width-33 no-padding>
        <button ion-button ></button>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-33 no-padding>
        <button ion-button ></button>
      </ion-col>
      <ion-col width-33 no-padding>
        <button ion-button ></button>
      </ion-col>
      <ion-col width-33 no-padding>
        <button ion-button ></button>
      </ion-col>
    </ion-row>
  </ion-grid>  
  
</ion-content>
